.contanier {
    position : relative;
    margin   : 0 auto;
    max-width: 1200px;
    padding  : 0;
}

.content-wrap {
    position  : relative;
    padding   : 20px 0 0;
    background: #f0f2f5;
}

.content {
    position  : relative;
    min-height: 500px;
    background: #f0f2f5;

}

.main-menu {
    padding-left: 15px;
}

@media only screen and (max-width: 1240px) {
    .contanier {
        margin: 0 15px;
    }

}

@media only screen and (max-width: 480px) {
    .contanier {
        margin: 0 10px;
    }
}