@import '~antd/lib/style/themes/default.less';
@import '../../../../styles/theme.less';

#header {
  position  : relative;
  z-index   : 10;
  max-width : 100%;
  background: @component-background;
  box-shadow: 0 2px 8px rgba(240, 241, 242, 65);

  .menu-row {
    display    : flex;
    align-items: center;
    margin     : 0;

    >* {
      flex  : none;
      margin: 0 16px 0 0;

      &:last-child {
        margin-right: 40px;
      }
    }
  }

  // Adjust github button style

  .ant-row-rtl {
    .menu-row {
      >* {
        &:last-child {
          margin-right: 16px;
          margin-left : 40px;
        }
      }
    }
  }

  // Buttons
  .header-button {
    color       : @text-color;
    border-color: @border-color-base;
  }
}

@media only screen and (max-width: @mobile-max-width) {
  #header {
    text-align: center;
  }
}

#logo {
  height         : @header-height;
  padding-left   : 40px;
  overflow       : hidden;
  color          : @site-heading-color;
  font-size      : 18px;
  font-family    : Avenir, @font-family, sans-serif;
  line-height    : @header-height;
  white-space    : nowrap;
  text-decoration: none;

  .ant-row-rtl & {
    float        : right;
    padding-right: 40px;
    padding-left : 0;
  }

  img {
    position    : relative;
    top         : -1.5px;
    height      : 32px;
    margin-right: 16px;

    .ant-row-rtl & {
      margin-right: 0;
      margin-left : 16px;
    }
  }
}

@media only screen and (max-width: @mobile-max-width) {
  #logo {
    padding-right: 0;
    padding-left : 0;
  }
}

#github-btn {
  display  : flex;
  flex-flow: nowrap;
  height   : auto;

  .gh-btn {
    height    : auto;
    padding   : 1px 4px;
    background: transparent;
    border    : 0;

    .gh-ico {
      width : 20px;
      height: 20px;
      margin: 0;
    }

    .gh-text {
      display: none;
    }
  }

  .gh-count {
    height     : auto;
    padding    : 4px 8px;
    font-weight: normal;
    background : #fff;

    &:hover {
      color: @primary-color;
    }
  }

  &.responsive-mode {
    .gh-count {
      display: none !important;
    }
  }
}

.ant-row-rtl {
  #github-btn {
    .gh-count {
      display: none !important;
    }
  }
}